<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am a component</h3>
      <hr />

      <!-- <app-servers></app-servers> -->
      
    </div>

    <div class="col-xs-12">
      <!-- <app-assignment3></app-assignment3> -->
      <!-- <app-assignment4></app-assignment4> -->
      <!-- <app-servicesassignment></app-servicesassignment> -->
      <!-- <app-forms-assignment></app-forms-assignment> -->
      <!-- <app-form-reactive></app-form-reactive> -->
      <!-- <app-form-reactive-assignment></app-form-reactive-assignment> -->
      <app-pipes-assignment></app-pipes-assignment>
    </div>
  </div>
</div>
